Practical_examples/whatsapp data/data/_chat.txt
Practical_examples/whatsapp data/data/WhatsApp Chat - Ich mo¨chte schwimmen.zip
Practical_examples/whatsapp data/data/WhatsApp Chat - xxx xxx.zip
Practical_examples/groundwater model/model
Practical_examples/groundwater model/results/plot_gws_rch.gif
Practical_examples/groundwater model/results/plot_gws_rc_frames